<div class="container">
    <h1 class="text-center text-warning mt-4 mb-4">La Liste de mes produits : {{products.length}}</h1>


    <div class="row">
        <div class="col-6 shadow p-3 mb-5 bg-white rounded">
            <h5 class="text-primary text-center">Chercher par prix</h5>
            <!-- début formulaire trix par prix  -->
            <form class=" text-center justify-content-center" (ngSubmit)="cherchePrix(search)" #search="ngForm">
                <div class="row">
                    <div class="col-5">
                        <div class="form-group">
                            <input type="number" class="form-control" name="min" ngModel placeholder="Entrer le prix min">
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="form-group">
                            <input type="number" class="form-control" name="max" ngModel placeholder="Entrer le prix max">
                        </div>
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-primary bg-success">Filtrer</button>
                    </div>
                </div>
              </form>
            <!-- fin formulaire trix par prix  -->
        </div>
        <div class="col-6 shadow p-3 mb-5 bg-white rounded">
            <h5 class="text-primary text-center">Chercher par mot clé</h5>
            <!-- début formulaire trix par mot clé  -->
            <form class=" text-center justify-content-center" (ngSubmit)="chercheMotCle(search1)" #search1="ngForm">
                <div class="row">
                    <div class="col-10">
                        <div class="form-group">
                            <input type="text" class="form-control" name="key" ngModel placeholder="Entrer un mot clé">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary bg-success">Filtrer</button>
                        </div>
                    </div>
                </div>
              </form>
            <!-- fin formulaire trix par mot clé  -->
        </div>
    </div>

    <section class="row">
        <div class="text-center ml-4 mb-4 pl-4 pb-4 bg-success" *ngIf="afficher">
            Le produit est suprimé
        </div>
        <div class="col-3" *ngFor="let p of products">
            <img src="{{p.image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{p.title}}</h5>

                <span class="card-text text-info">Disponible : </span>
                <span id="span1" class="card-text fa-solid fa-dragon" 
                [ngClass]="{'text-success': p.available, 'text-danger': !p.available}"
                (click)="changeDisponible(p)"></span>

                <p class="card-text">{{p.description}}</p>
                <div class="row">
                    <div class="col-4">
                        <a href="#" class="btn btn-primary">{{p.price}} €</a>
                    </div>
                    <div class="col-4">
                        <!-- Button trigger modal -->
                        <button type="button" class="bg-warning text-white btn btn-primary" (click)="modifierProduit(p)" data-toggle="modal" data-target="#modifier">
                            Modifier
                        </button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="modifier" tabindex="-1" role="dialog" aria-labelledby="modifierLeProduit" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title m-auto text-center text-warning" id="modifierLeProduit">Modifier le produit</h5>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Form  -->
                                           <form>
                                            <div class="form-group mt-2">
                                              <label class="text-info">Nom</label>
                                              <input type="text" class="form-control" name='title' [(ngModel)]="modifier.title">
                                            </div>
                                            <div class="form-group mt-2">
                                              <label class="text-info">Description</label>
                                              <input type="text" class="form-control" name='description' [(ngModel)]="modifier.description">
                                            </div>
                                            <div class="form-group mt-2">
                                              <label class="text-info">Image</label>
                                              <input type="text" class="form-control" name='image' [(ngModel)]="modifier.image">
                                            </div>
                                            <div class="form-group mt-2">
                                              <label class="text-info">Prix</label>
                                              <input type="number" class="form-control" name='price' [(ngModel)]="modifier.price">
                                            </div>
                                          </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour</button>
                                        <button type="submit" class="btn btn-primary"(click)="modifProduit(modifier)">Modifier</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <button class="bg-danger text-white btn btn-primary" (click)="supprimer(p.id)">Suprimer</button>
                    </div>
                </div>


            </div>
        </div>
    </section>

</div>