<ul class="nav mx-auto justify-content-center shadow-lg p-3 mb-5 bg-white rounded">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="">Page Principale</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="product">Produits</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="add-product">Ajouter un produit</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Soon ?</a>
  </li>
</ul>

<router-outlet></router-outlet>